body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #FFFFFF
}
a {
  text-decoration: none;
}
ul { 
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}


/*-------------heder--------------*/

.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-span {
  color: #2E2F42;
}

.header-menu-link {
  color: #2E2F42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link {
  color: #2E2F42;}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
 color: #404bbf;}

 .header-contacts:hover,
 .header-contacts:focus,
 .header-contacts:active {
   color: #404bbf
 }

 .header-contacts {
  color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }


.header-mail,.header-tel {
  color: #434455;
}

 .header-mail:hover,
 .header-mail:focus,
 .header-mail:active {
   color: #404bbf
 }

 .header-tel:hover,
 .header-tel:focus,
 .header-tel:active {
   color: #404bbf
 }
 
/*! ------------------------------------- */

/** --------------HERO-------------- */

.hero {
  background-color: #2E2F42;
}

.hero-title {
  color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}


.hero-btn {
  color: #FFF;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4D5AE5;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: #404BBF;
}

/*! ------------------------------------- */

/**---------features-----------*/

.features {
  background-color: #F4F4FD
}

.features-list {
  background-color: #FFFFFF
}

.features-subtitle {
  color: var(--NAVY-BLUE, #2E2F42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-item-text {
  color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*! ------------------------------------- */

/* ---------------Team------------------- */

.team {
    background-color: #F4F4FD
}

.team-title {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  background-color: #FFFFFF
}

.team-item {
    background-color: #FFFFFF
}

.team-subtitle {
  color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-item-text {
  color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*! ------------------------------------- */

/* ---------------portfolio--------------- */

.portfolio-title {
  color: #D9D9D9;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}


.portfolio-subtitle {
  color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-item-text {
  color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*! ------------------------------- */

/* -------------footer----------------- */

.footer {
  background-color: #2E2F42;
}

.footer-logo {
  color: var(--IRIS, #4D5AE5);
    font-family:Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-span {
  color: var(--CLOUD, #F4F4FD);
}

.footer-item-text {
  color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
